.app-components {
  margin-top: 15px;
  background-color: #0000ff;
}


#colorStrip {
  border-color: #C0C0C0;
  border-style: dashed;
  width: 100%;
  height: 0.5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

html {
  background-color: #000000;
}


.buttonz {
  background-color: #4F8699;
  height: 38px;
  letter-spacing: 1.5px;
}

.input.custom {
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  width: 100%;
  float: left;
  color: #4F8699;
}

.heading {
    color: #ff4d4d;
    font-family:cursive;
}
