
.show_container {
  position: relative;
  margin: auto;
  width: 65%;
  min-height: 100vh;
  background-color: floralwhite;
  flex-grow: 1;
}

.show_header {
  text-align: center;
  justify-content: center;
}

.PianoContainer {
  text-align: center;
}

#commands {
  text-align: center;
}


button {
  text-align: center;
  justify-content: center;
}

.command_header {
  text-align: center;
}


h2 {
  text-align: center;

}

#wrapper {
  text-align: center;
}

#log{
  text-align: center;
}

#recordingslist {
  text-align: center;
  justify-content: center;
}

li {
  text-align: center;
  justify-content: center;

}
